@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

html {
  font-family: Helvetica, sans-serif;
  background: #eeeeee;
}
.button {
  border-radius: 20px;
  border: solid;
  border-color: rgb(51, 51, 51);
  padding: 8px 12px;
  margin-right: 15px;
  font-size: 15px;
  outline: none;
}
a {
  text-decoration: none;
}
.button {
  cursor: pointer;
  color: rgb(51, 51, 51);
}

.button.fill {
  background: black;
  color: rgb(251, 251, 251);
  border: black;
}
.hover:hover {
  background: rgb(0, 102, 0);
  color: rgb(251, 251, 251);
}
article :nth-child(3):hover {
  color: rgb(0, 102, 0);
  background-color: rgb(251, 251, 251);
  border-color: rgb(0, 102, 0);
}
