@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

html {
  font-family: "Noto Sans JP", sans-serif;
  background: #f0e4e4;
}

body {
  margin: 0px;
}

header {
  background: #f93700;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  list-style: none;
  padding: 20px 20px;
}

.nav-list-wrapper {
  display: flex;
}

.nav-list-wrapper li {
  margin-right: 30px;
}

.nav-list input {
  width: 400px;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-list i {
  color: white;
}

.input-wrapper {
  display: flex;
}

.input-wrapper input {
  padding-left: 10px;
}

.nav-list button {
  color: white;
  background: #b6afaf;
  padding: 8px 16px;
  border: none;
}

.account-wrapper i {
  margin-right: 10px;
}

.rooms {
  display: flex;
  justify-content: space-around;
  margin: 30px 50px 30px 50px;
}

.room img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.room p {
  text-align: center;
  color: #808080;
}

.collection {
  display: flex;
  justify-content: space-between;
  margin: 30px 75px 30px 75px;
}

.collection-header h2 {
  color: #f93700;
}

.collection-header p {
  color: #808080;
}

.collection-header button {
  color: white;
  background: #f93700;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.img-wrapper {
  max-width: 830px;
}

.img-wrapper img {
  max-width: 100%;
}

.benefits {
  display: flex;
  justify-content: space-around;
  background: #cac3c3;
  margin: 30px 75px 30px 75px;
  padding: 30px 150px;
}

.benefit img {
  width: 100px;
  height: 100px;
  background: #e6d6d6;
  border-radius: 50%;
  padding: 15px;
}

.benefit p {
  color: #808080;
}

.benefit {
  text-align: center;
  flex-basis: 30%;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 75px 30px 75px;
}

.footer-list {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.footer-list li {
  margin-right: 20px;
}

.footer-list li:first-child a {
  font-weight: bold;
}

.footer-list a {
  color: #808080;
  text-decoration: none;
}

.footer-list p {
  margin-top: 0px;
  color: #808080;
}

.footer-list button {
  color: black;
  background: #cac3c3;
  border: none;
  border-radius: 4px;
  padding: 10px 50px;
}

.links i {
  color: #808080;
  font-size: 20px;
  margin-right: 10px;
}
