<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body id="reportsPage">
<div class="" id="home">
    <div class="container">
        <th:block th:include="/fragments/navigation"></th:block>
        <!-- row -->
        <div class="row tm-content-row tm-mt-big">

            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <div id="chart_div" style="width: 100%; height: 100%;"></div>
                </div>
            </div>
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <div id="googlePiechart" style="width: 100%; height: 100%;"></div>

                </div>
            </div>
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block h-100">
                    <div id="googleGauge" style="width: 100%; height: 100%;"></div>
                </div>
            </div>


            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <div class="row">
                        <div class="col-8">
                            <h2 class="tm-block-title d-inline-block">Top Scored Students</h2>
                        </div>
                        <div class="col-4 text-right">
                            <a class="tm-link-black">View All</a>
                        </div>
                    </div>
                    <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">

                        <li class="tm-list-group-item">Top student one</li>
                        <li class="tm-list-group-item">Top student two</li>
                        <li class="tm-list-group-item">Top student three</li>

                    </ol>
                </div>
            </div>
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <div class="auto-jsCalendar w-100"></div>
                </div>
            </div>
            <div class="tm-col tm-col-small">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title">Active Exercises</h2>
                    <ol class="tm-list-group">

                        <li th:each="aEx : ${activeExercises}" th:text="${aEx}" class="tm-list-group-item">Active
                            exercise
                        </li>

                    </ol>
                </div>
            </div>
        </div>

        <th:block th:include="~{fragments/footer}"></th:block>

    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/

    // Load google Pie charts
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
        //ToDo all grades count
        let six = [[${six}]];
        let five = [[${five}]];
        let four = [[${four}]];
        let three = [[${three}]];
        let two = [[${two}]];
        let dataPie = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Excellent', six],
            ['Very Good', five],
            ['Good', four],
            ['Average', three],
            ['Fail', two]
        ]);

        // Optional; add a title and set the width and height of the chart
        // 'width':550, 'height':400
        let optionsPie = {
            'title': 'My Average Day',
            is3D: true,
            chartArea: {left: 0, top: 0, riwidth: 0, bottom: 0, width: '100%', height: '100%'}
        };

        // Display the chart inside the <div> element with id="piechart"
        let chartPie = new google.visualization
            .PieChart(document.getElementById('googlePiechart'));
        chartPie.draw(dataPie, optionsPie);
    }

    google.charts.setOnLoadCallback(drawAreaChart);

    function drawAreaChart() {
        //ToDo averageGrades
        let averageGrade = 4;

        let dataArea = google.visualization.arrayToDataTable([
            ['Grades', 'Legacy', 'Now'],
            ['2018-Q2', 3.5, averageGrade],
            ['2018-Q3', 2.5, averageGrade],
            ['2018-Q4', 4.0, averageGrade],
            ['2019-Q1', 3.6, averageGrade],
            ['2019-Q2', 5.3, averageGrade],
            ['2019-Q3', 3.9, averageGrade],
            ['2019-Q4', 5.2, averageGrade]
        ]);

        let optionsArea = {
            title: 'Legacy vs now grades',
            vAxis: {minValue: 2}
        };

        let chartArea = new google.visualization
            .AreaChart(document.getElementById('chart_div'));
        chartArea.draw(dataArea, optionsArea);

    }

    google.charts.load('current', {'packages': ['gauge']});
    google.charts.setOnLoadCallback(drawGauge);

    function drawGauge() {
        //ToDo total count of register users
        let totalStudents = [[${usersCount}]];
        let dataGauge = google.visualization.arrayToDataTable([
            ['Label', 'Value'],
            ['All users', totalStudents]
        ]);

        let optionsGauge = {
            // width: 400, height: 120,
            // greenFrom:25, greenTo:75,
            title: 'All register users',
            redFrom: 90, redTo: 100,
            yellowFrom: 75, yellowTo: 90,
            minorTicks: 20,
            animation: {
                startup: true,
                duration: 100,
                easing: 'linear',
            },
            vAxis: {minValue: 0, maxValue: 100}
        };

        let chartGauge = new google.visualization.Gauge(document.getElementById('googleGauge'));

        chartGauge.draw(dataGauge, optionsGauge);

    }

    /*]]>*/
</script>
</body>
</html>