<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/fragments/head"></th:block>

<body>
    <div class="container">
        <th:block th:include="/fragments/navigation"></th:block>
        <!-- row -->
        <div th:if="${homework == null}" class="alert alert-primary" role="alert">
            No homeworks to check
        </div>
        <div th:if="${homework != null}" class="row tm-content-row tm-mt-big">
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block ">
                    <div class="row text-center justify-content-center">
                        <div class="col-12">
                            <h2 class="tm-block-title d-inline-block">Rules for scoring!</h2>
                        </div>
                    </div>
                    <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">
                        <li class="tm-list-group-item">
                            Download the archived file
                        </li>
                        <li class="tm-list-group-item">
                            Import the Project
                        </li>
                        <li class="tm-list-group-item">
                            Add custom/additional data if needed
                        </li>
                        <li class="tm-list-group-item">
                            Change the credentials in application properties
                        </li>
                        <li class="tm-list-group-item">
                            Test all exercises and verify the results
                        </li>
                        <li class="tm-list-group-item">
                            Write detailed comment for homework
                        </li>
                        <li class="tm-list-group-item">
                            Don't be mean with scoring :) !!!!
                        </li>
                    </ol>
                </div>
            </div>
            <div class="tm-col tm-col-big text-center justify-content-center">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tm-block-title">Add Comments for Homework</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form action="/homeworks/check" method="POST" th:object="${homeworkCheckBindingModel}"
                                  class="tm-signup-form">
                                <div class="form-group">
                                    <label for="score" >Score</label>
                               
									<small th:if="${#fields.hasErrors('score')}" th:errors="*{score}" class="text-danger">Score must be between 2 and 6 inclusive</small>
                                    <br/>
                                    <select th:field="*{score}" th:errorclass="bg-danger" required class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" name="score" id="score">
                                        <option value="" selected>Enter your score</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="textContent" >Description</label>
                                    <br/>
                                    <textarea th:field="*{textContent}" th:errorclass="bg-danger" id="textContent" name="textContent" class="form-control validate"
                                              rows="3" placeholder="Enter your comment"  required></textarea>
                                    
                                        <small th:if="${#fields.hasErrors('textContent')}" th:errors="*{textContent}" class="text-danger" > Comment text content must be more than 3 characters!
                                        </small>
                                   
                                </div>

                                <input th:field="${homework.id}" type="hidden" name="homeworkId" id="homeworkId">

                                <div class="row">
                                    <div class="col-12 col-sm-8 tm-btn-right">
                                        <button type="submit" class="btn btn-danger">Add Comment
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tm-col tm-col-small justify-content-center text-center">
                <div class="bg-white tm-block">
                    <h2 class="tm-block-title">Download</h2>
                    <img src="/img/homework.png" alt="Homework pic"  width="100%">
                    <div class="custom-file mt-3 mb-3" th:object="${homework}">
                        <input id="fileInput" type="file" style="display:none;" />
                        <a th:href="${homework.git + '/archive/master.zip'}">
                            <input type="button" class="btn btn-primary d-block mx-xl-auto" value="Download homework"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="/fragments/footer"></th:block>
    </div>
</body>
</html>