.navbar-background {
    color: white;
    border-bottom-color: black;
}

.navbar-brand {
    color: white;

}

body {
    background: url("/pics/bgd.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.my-hr {
	width: 50%;
}

.myBackgroundColor{
    background-color: sandybrown;
}

.jumbotron-background {

    background: url("/pics/fgd.jpeg") no-repeat center transparent ;
    color: white;
}

.hr-background {
    background-color:white;
    height: 1px;
}

.footer-background {
    color: #E41B23;
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
    background-color: sandybrown;
}
.btn3d:active {
    top:9px;
}
.btn-default {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-secondary {
    box-shadow:0 0 0 1px #ca8842 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #b1561e, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color: #954d16;
}
.btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
.btn-info {
    box-shadow:0 0 0 1px #ec7822 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #ce6721, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color: #a86c11;
}

.btn-info:hover {
    box-shadow:0 0 0 1px #cb3613 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #97230f, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color: #a82f11;
}

.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}

.nav-color {
    color: sandybrown;
}