html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

h1 {
  font-family: Georgia, serif;
}

article {
  background: rgb(51, 102, 153);
  border-radius: 1rem;
  padding: 10px;
}
