html {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 50px 70px;
}

header {
  margin-top: 70px;
  border-bottom: 2px solid black;
}

h1 {
  font-weight: bold;
}

h1,
nav {
  display: inline-block;
}

li {
  display: inline-block;
  padding-right: 20px;
  color: green;
}

nav {
  margin-left: 40px;
}
