<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body>

<th:block th:include="~{fragments/header}"></th:block>

<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Items</span></h1>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark" th:text="|Total count of items: ${items.size()}|">Total count of items: 3</span></h1>
    <hr class="hr-3"/>
    <div class="container-fluid">
        <div class="offers row mx-auto d-flex flex-row justify-content-center">

            <div th:each="item : ${items}" th:object="${item}" class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a th:href="@{/items/item/{id}(id = *{id})}">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" th:src="|/img/*{getGender().toUpperCase()}-*{categoryEnum}.jpg|" src="/img/MALE-SHORTS.jpg" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 th:text="*{name}" class="card-title text-center">Item name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div th:text="*{price}" class="card-text text-center"><span>Item price</span></div>
                        </li>
                    </ul>
                </a>
            </div>

        </div>
    </div>
</main>

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>
