<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>

<body>

<th:block th:include="~{fragments/header}"></th:block>

<main>
    <div class="container bg-gray p-3 rounded  text-center mt-5">
        <h1>Welcome to Andrey's</h1>
        <hr class="my-3"/>
        <p class="h4">On our website you will find the best clothes to match your style.</p>
        <hr class="my-3"/>
        <h3>
            <a class="text-primay" href="/users/login">Login</a>
            if you have an account or
            <a class="text-primay" href="/users/register">Register</a>
            now and check our deals.
        </h3>
    </div>
</main>

<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>
